// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
	font-weight: 300;
	@include media-breakpoint-down(xs) {
		font-size: 14px;
	}
}

h1 {
	text-transform: uppercase;
}

.single-product .product .container {
	//fixes some flex issues
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
		

}

/* General tools */
.vertically-align {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.red {
	color: $brand-primary;
}
.grey {
	background-color: #eaeaed ;
}

.white {
	background-color: #fff;
}

.link-inverse a{
	color: #000;
	&:hover, &:focus {
		text-decoration: underline;
	}
}

/* Buttons */
.btn-primary, #what-are-you-waiting-for .button, .woocommerce button.button.alt, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce input.button.alt {
    color: $brand-primary;
    background-color: rgba(172,0,1,0);
    border: 1px solid $brand-primary ;
    transition: background-color 0.5s ease-in-out;
 	&:hover, &:focus {
 		background-color: rgba(172,0,1,0.5);
 	}
 }

.woocommerce button.button.alt.disabled {
	 background-color: #b1b1b1;
	 &:hover, &:focus {
 		background-color: #8e8d8d;
 	}
 }



.btn, #what-are-you-waiting-for .button, .woocommerce button.button.alt, .woocommerce input.button.alt {
	padding: 1.2rem 3.2rem;
    font-size: 1.2rem;
    @include media-breakpoint-down(sm) {
		padding: 0.8rem 1.2rem;
    	font-size: 1.1rem;
    }
    margin-bottom: 20px;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 300;
    border: 1px solid;

    &.btn-lower {
    	text-transform: inherit;
    }
}



/* 1. Header  */

// This controls the home page here image
#site-header {
	.wrapper-navbar {
		padding-top: 20px;
		z-index: 9999;

		.main-nav {
			padding-top: 0;
		}
		.navbar-header {
			text-align: center;
			.navbar-brand {
				transition: opacity 0.5s ease-in-out;
				margin-right: 0;
				&:hover, &:focus {
					opacity: 0.5;
				}
			}
			.navbar-toggler {
				float: left;
				outline: none;
				transition: opacity 0.5s ease-in-out;
				&:hover, &:focus {
					opacity: 0.5;
				}
			}
		}
		.utility-bar {
			text-align: center;
			@include media-breakpoint-down(sm) {
				position: fixed;
				top: 0;
				right: 0;
				left: 0;
				padding: 40px;
				background: #111111;
				z-index: 9;
				button {
					color: #fff;
					&:hover, &:focus {
						text-decoration: underline;
					}
				}
			}
			@include media-breakpoint-up(md) {
				position: absolute;
				top: 20px;
				right: 20px;
				display: flex;
				flex-direction: row;
			}
			.woocommerce-currency-switcher-form {
				.wSelect-el {
				display: none;
				}
				.wSelect-theme-classic.wSelect {
					border: none;
					background: transparent;
					outline: none;
					box-shadow: none;
					margin-top: 5px;
				}
				.wSelect-selected  {
					text-indent: -9999px
				}
				.wSelect-options {
					height: auto !important;
				}
			}
		}
		.collapsing .utility-bar {
			background: rgba(0,0,0,0.7);
		}
		&.navbar {
			#main-menu {
				float: none;
				text-align: center;
				.menu-item {
					float: none;
					display: inline-block;
					text-align: center;
					font-size: 0.875rem;
					font-weight: 400;
					 a {
						color: #000;
							@include media-breakpoint-down(sm) {
								color: #fff;
							}
						&:hover, &:focus {
							text-decoration: underline;
						}
					}
				}
			}
			.exCollapsingNavbar {
				@include media-breakpoint-down(sm) {
					background: rgba(0,0,0,0.75);
					.menu-item {
						float: none;
						display: block;
						text-align: center;
						font-size: 0.875rem;
						font-weight: 400;
						 a {
							color: #fff;
							&:hover, &:focus {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
.home {
		.wrapper-fluid {
			position: relative;
			margin-top: -155px;
			overflow: hidden; 
			height: 709px;
			@include media-breakpoint-down(sm) {
				height: 500px;
			}	
			.slide {
			position: relative;
			background-size: cover;
			height: 100%;
			width: 100%;
			}
			.slick-list,
			.slick-track {
				height: 100%;
			}

		}

		#page-wrapper {
			padding-top: 6px;
		}
	}

.home-feature {
	background-repeat: no-repeat;
	background-size: cover !important;
	background-position: center;
	height: 100%;
	.home-feature-wrapper {
		height: 100%;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		@include media-breakpoint-down(sm) {
			background-position: 65% 50%;
		}		  
	}	
	.home-feature-content {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		@include media-breakpoint-down(sm) {
			top: 65%;
		}	
	}
	h1 {
		font-size: 30px;
		font-weight: 600;
	}

}

/* Page Elements */
#page-wrapper.wrapper {
	padding-bottom: 0;
}
section.feature-boxes {
	padding-top: 60px;
	padding-bottom: 60px;
	@include media-breakpoint-down(sm) {
		padding-top: 30px;
		padding-bottom: 0;
	}

	h2, .h2 {
		font-size: 3.75rem;
	}
	h4, .h4 {
		font-size: 1.875rem;
		padding-bottom: 42px;
	}

	.feature-intro {
		padding-bottom: 50px;
	}

	.feature {
		.feature-content {
			img {
				float: left;
				padding-right: 16px;
			}		
			@include media-breakpoint-down(sm) {
				display: flex;
				flex-direction: column;
				text-align: center;
				align-items: center;
				padding-bottom: 20px;
			}
		}	
	
	}
}

section.feature-tiles {
	padding-top: 70px;
	padding-bottom: 70px;

	@include media-breakpoint-down(sm) {
		padding-top: 0px;
		padding-bottom: 0;
		.container {
			width: 100%;
		}
	}

	#shop-now  {
			background-color: #d4b7b7;
			&:hover, &:focus {
				background-color: darken(#d4b7b7, 20%);
			}

		}
	#find-a-store{
			background-color: #7f8880;
			&:hover, &:focus {
				background-color: darken(#7f8880, 20%);
			}
		}
	#become-a-stockist{
			background-color: #53ad8a;
			&:hover, &:focus {
				background-color: darken(#53ad8a, 20%);
			}
		}
	.feature-wrapper {
		transition: background-color 1s ease-in-out;
		&:hover, &:focus {
			text-decoration: none;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 0px;
		}

		@media (min-width: 768px) {
			margin-right: 20px;
			margin-left: 20px;

			&:first-of-type {
				margin-left: inherit;
			}
			&:last-of-type {
				margin-right: inherit;
			}
		}

	}
	.feature-content {
		padding-bottom:	30px;
		color: #fff;

		.feature-content-top {
			min-height: 180px;
			position: relative;
		}

	}
}

section.featurettes {


		.feature-wrapper {
			background-size: cover;
			background-repeat: repeat-x;
			.feature {
				background-repeat: no-repeat;
				height: 100%;
				min-height: 356px;
				width: 100%;
			}
			.feature-content {
				padding-top: 53px;
				height: 100%;

				@include media-breakpoint-down(xs) {
					    background: rgba(0,0,0,0.3);
					    height: 100%;
					    width: 100%;
					    overflow: hidden;
					    font-weight: 400;
						padding-left: 60px;
						padding-right: 60px;
						top: 0;
						bottom: 0;
						position: absolute;
						left: 0;
						right: 0;
					    h2, h4, p, .red {
					    	color:#fff;
						}
						.feature-content-wrapper {
							position: relative;
							top: 50%;
							transform: translateY(-50%);
						}
				}
				@include media-breakpoint-up(xs) {
					.btn {
						position: relative;
						
						margin-top: 30px;
						bottom: 20px;
					}
				}
			}
			h2, .h2 {
				font-size: 4rem;
				text-transform: uppercase;
			}
			h4, .h4 {
				font-size: 1rem;
				text-transform: uppercase;
				font-weight: 200;
				@include media-breakpoint-down(xs) {
					font-weight: 400;
				}
			}
			background-color: #efe3e3;
			.feature {
				background-position: 80% 55%;
			}
	}
}



section.testimonial {
padding-top: 30px;
padding-bottom: 30px;
background-color: #dfdfdf;
font-size: 2rem;
	p {
		margin-bottom: 0;
		font-size: 30px;
		font-weight: 600;
	}

	.attribute-wrapper {
		p {
			font-size: 1.25rem;
			line-height: 1.0rem;
			font-weight: inherit;
				cite {
				font-style: normal;
			}
		}
	}
}

section.page-banner {
	padding-bottom: 30px;

	.banner-content {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.cta {
		margin-bottom: 30px;
	}
}
section.image-content-block{
	padding-bottom: 30px;

	.image-wrapper, .content-wrapper {
		padding-bottom: 30px;
	}
}

section.call-to-action {
	padding-top: 70px;
	padding-bottom: 70px;

	.cta-text {
		padding-bottom: 20px;		
	}
	.cta-button-wrapper {
			justify-content: center;
			padding: 0 20px;
	}
}

section.default {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #dfdfdf;
}
section.additional-content {
		padding-top: 70px;
		padding-bottom: 70px;
}

section.product-page-features {
	.feature {
		@include media-breakpoint-down(sm) {
			padding-bottom: 20px;
			
    	}
	} 
}
section.related-products-section {
	padding-top: 60px;
	background: #fff;
	h2 {
		text-align: center;
		padding-bottom: 40px;
	}
}
.woocommerce-cart, .woocommerce-checkout {
	section.default {
		background: #fafafa;
	}
} 
#wrapper-navbar.banner-image {
	min-height: 460px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.not-full {
    	background-size: inherit;
    	background-position: bottom center;
    }

    @include media-breakpoint-down(sm) {
		min-height: 360px;
		background-size: cover;
    }
}
/* Footer Styles */
#wrapper-footer.wrapper {
	background-image: url('../images/footer-background.png');
	background-repeat: repeat;
	padding-top: 45px;
	padding-bottom: 70px;
	background-color: #404040;
	color: #fff;
		a {
			color: #fff;
		}

		.menu-item {
			display: block;
			width: 100%;
			line-height: 2rem;
			a{
				text-transform: uppercase;
				font-weight: 100;
			}
		}
		.footer-col {
			padding-bottom: 20px;
			@include media-breakpoint-up(md) {
				border-right: 1px solid #fff;
				padding-bottom: inherit;
				}
				&.social {
					align-items: center;
    				justify-content: center;
    				display: flex;

    				a {
    					padding: 20px 10px;
    					transition: opacity 0.5s ease-in-out;
    					&:hover, &:focus {
    						opacity: 0.7;
						}
						img {
							width: 46px;
							height: auto;						
						}
    				}
				}
				&:last-of-type {
					border: none;
				}
				&.form-col {
					align-items: center;
    				display: flex;					
					padding-left: 45px;
					padding-right: 45px;
					justify-content: center;
    					@include media-breakpoint-up(md) {
    					padding-right: 0;
    					}
					@include media-breakpoint-up(md) {
    					justify-content: flex-end;
					}

    				.subscribe-wrapper  {
	    				width: 100%;
	    				padding-bottom: 15px;
						display: flex;						
							input, button {
								padding-top: 10px;
								padding-bottom: 10px;
							}
							.input-email {
								width: 100%;
							}
							button {
								background: #adadad;
								border: none;
								width: 50px;
							}
    					}

    				.site-info {
    					display: flex;
	    				justify-content: center;
	    				width: 100%;
						@include media-breakpoint-up(md) {
    						justify-content: flex-end;
						}

    				}
				}
		}
}

/* Shop Styles */

.woocommerce {
	.products ul, ul.products {
		display: flex;
 		flex-flow: row wrap;
		 margin-bottom: 0;		 
	}
	.products ul::after, .products ul::before, ul.products::after, ul.products::before {
		display: flex;
	}
	
	.wrapper#woocommerce-wrapper {
		padding-bottom: 0;
	}
	h1 {
		text-align: center;
		margin-bottom: 40px;
	}
	ul.products li.product {

			h3 {
				font-size: 1.875rem;
			}

			a {
				text-align: center;
				color: #000;
				img {
					width: auto;
					max-width: 100%;
					margin-left: auto;
					margin-right: auto;
					}
			}
		}
	
	ul.products li.product, &-page ul.products li.product {
		display: flex;
 		flex-flow: column nowrap;
		@include media-breakpoint-up(sm) { 
			margin-left: 0;
			margin-right: 0;
		}
		width: inherit;
		padding: 0 20px;

		.woocommerce-loop-product__title {
			font-size: 2em;
		}


		.btn {
			margin-top: auto;
 			display: table;
			background: none;
			text-transform: uppercase;
			color: $brand-primary;
			font-weight: 300;
			font-size: 16px;
			border: none;
			&::after { 
				content: " >";
			}
			&:hover, &:focus {
				text-decoration: underline;
				box-shadow: none;
    			outline: none;
			}

			
		}
	}

}

/* Single Product Styles */

.woocommerce {
	&.single-product {
		background-color: #eaeaed;
		div.product{
			.images {
				text-align: center;
				a {
					display: inline-block;
					img {
						width: auto;
						max-width: 100%;
					}
				}

			}

			.summary {

				h1 {
					text-align: left;
					@include media-breakpoint-down(sm) {
						text-align: center;
					}
				}

				@include media-breakpoint-down(sm) {
					text-align: center;
					padding-bottom: 40px;			
    			}
				.quantity .qty {
					padding-top: 14px;
					padding-bottom: 14px;
					font-size: 1.2rem;
					margin-right: 5px;
					@include media-breakpoint-down(xs) {
						font-size: 1rem;
						padding-top: 8px;
						padding-bottom: 8px;
					}

				}
			}
		}
			//Start Product Gallery
			// Product gallery styles
			/* WooCommerce 3.0 Gallery */
	
				.woocommerce-product-gallery {
				position: relative;
				margin-bottom: 3em
				}
				
				.woocommerce-product-gallery figure {
				margin: 0
				}
				
				.woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(n+2) {
				width: 25%;
				display: inline-block
				}
				
				.woocommerce-product-gallery .flex-control-thumbs li {
				list-style: none;
				float: left;
				cursor: pointer
				}
				
				.woocommerce-product-gallery .flex-control-thumbs img {
				opacity: .5
				}
				
				.woocommerce-product-gallery .flex-control-thumbs img.flex-active,.woocommerce-product-gallery .flex-control-thumbs img:hover {
				opacity: 1
				}
				
				.woocommerce-product-gallery img {
				display: block
				}
				
				.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
				width: 33.3333%
				}
				
				.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
				width: 25%
				}
				
				.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
				width: 20%
				}
				
				.woocommerce-product-gallery__trigger {
				position: absolute;
				top: 1em;
				right: 1em;
				z-index: 99;
				}
				
				a.woocommerce-product-gallery__trigger {
				text-decoration: none;
				}
				
				.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
				position: absolute;
				top: .875em;
				right: .875em;
				display: block;
				height: 2em;
				width: 2em;
				border-radius: 3px;
				z-index: 99;
				text-align: center;
				text-indent: -999px;
				overflow: hidden;
				}
				
				.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
				background-color: #169fda;
				color: #ffffff;
				}
				
				.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover {
				background-color: #1781ae;
				border-color: #1781ae;
				color: #ffffff;
				}
				
				.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:before {
				font: normal normal normal 1em/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				display: block;
				content: "\f00e";
				line-height: 2;
				text-indent: 0;
				}
	}
	div.product p.price, div.product span.price {
		color: #ac0001;
	}
	div.product form.cart .variations select {
		background: #fff;
    	padding: 10px;
	}
	div.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled, div.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.iconic-woothumbs-all-images-wrap {
		@include media-breakpoint-down(xs) {
			width: 320px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	div.iconic-woothumbs-images-wrap {
		padding-bottom: 20px;
	}
	.iconic-woothumbs-all-images-wrap .slick-dots, .iconic-woothumbs-zoom-bullets .slick-dots {
		bottom: 0;
	}


}

section#lady-bonnd-features {
	background: #fff;
	padding-top: 90px;
	padding-bottom: 20px;
	text-align: center;
}
	
// Find a store page styles

.page-id-16 {
	h2 {
		text-align: center;
		padding-bottom: 40px;
	}
	#wpsl-search-wrap div {
		margin-right: 0;		
	}
	#wpsl-search-btn, #wpsl-search-wrap input {
		border-radius: 0;
	}
	#wpsl-search-btn {
		padding: 8px 60px;
		color: #fff;
		background-color: #adadad;
		background-image: none;
		text-transform: uppercase;
	}
	#wpsl-stores {
		height: auto !important;
	}
}

.wpsl_stores-template-default {
	h2 {
		margin-bottom: 40px;
	}
	.single-store-col {
		padding-bottom: 20px;
	}
}


// Page Logo

.ladybonnd-page-logo, .ladybonnd-product-page-logo {
	display: none;
	position: relative;

	img {
		position: absolute;
		z-index: 1;
		top: -35px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.home
 .ladybonnd-page-logo  {
	display: inherit;
}

.single-product .ladybonnd-product-page-logo  {
	display: inherit;
}

// Blog Styles
.blog, .archive, .search-results {
	h1 {
		margin-bottom: 40px;
	}

	.categorySection {
		padding: 40px 0;
	}
	h2 {
		padding-bottom: 30px; 
	}

	.blogPost {
		@include media-breakpoint-down(sm) {
			margin-bottom: 30px;
		}
		h3 a {
			color: #292b2c;
			padding-top: 20px;
		}
	}
	.read-more-link, .understrap-read-more-link {		
		margin-top: auto;
		display: table;
		background: none;
		text-transform: uppercase;
		color: $brand-primary;
		font-weight: 300;
		font-size: 16px;
		border: none;
		&::after { 
			content: " >";
		}
		&:hover, &:focus {
			text-decoration: underline;
			box-shadow: none;
			outline: none;
			background: none;
		}	
	}	

}

.archive .blogPost {
	margin-bottom: 30px;
}

.single-post {
	.nav-next {
		&::after { 
			content: " >";
		}
	}
	.nav-previous {
		&::before { 
			content: "< ";
		}
	}
}

// Message Styles
.woocommerce-message, .woocommerce-info {
	border-top-color: #000000;
	&::before {
		color: #000000;
	}
	a.button {		
			margin-top: auto;
 			display: table;
			background: none;
			text-transform: uppercase;
			color: $brand-primary;
			font-weight: 300;
			font-size: 16px;
			border: none;
			&::after { 
				content: " >";
			}
			&:hover, &:focus {
				text-decoration: underline;
				box-shadow: none;
    			outline: none;
				background: none;
			}	
	}	
}

// Cart and checkout
#add_payment_method table.cart td.actions .coupon .input-text, 
.woocommerce-cart table.cart td.actions .coupon .input-text, 
.woocommerce-checkout table.cart td.actions .coupon .input-text {
	width: 120px !important;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
	max-width: 100%;
	@include media-breakpoint-up(md) {
		max-width: 48%;
		}
}

// My Account customisations

.woocommerce-account {
	.woocommerce-MyAccount-navigation-link--downloads {
		display: none;
	}
}


// Search Form

#search-modal {
	.modal-content, .modal-header, .modal-footer {
		background: none;
		border: none;
	}
	.modal-header {
		justify-content: flex-end;
	}
	.modal-content {
		padding-bottom: 160px; 
	}
	//Center Modal Vertically
	.modal-dialog {
		min-height: calc(100vh - 60px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: auto;
		@media(max-width: 768px) {
			min-height: calc(100vh - 20px);
		}
		}
	
	.submit {
		margin-bottom: 0;
	}
}

// Search Results page
.search-results {
	.products .row {
		display: flex;
 		flex-flow: row wrap;
		 margin-bottom: 0;		 
	}
	
	
	.wrapper#woocommerce-wrapper {
		padding-bottom: 0;
	}
	h1 {
		text-align: center;
		margin-bottom: 40px;
	}
	h2.type {
		text-transform: uppercase;
	}
	.search-result{

			h3 {
				font-size: 1.875rem;
			}

			a {
				text-align: center;
				color: #000;
				img {
					width: auto;
					max-width: 100%;
					margin-left: auto;
					margin-right: auto;
					}
			}
		}
	
	.search-result {
		display: flex;
 		flex-flow: column nowrap;
		@include media-breakpoint-up(sm) { 
			margin-left: 0;
			margin-right: 0;
		}
		width: inherit;
		padding: 0 20px;

		.woocommerce-loop-product__title {
			font-size: 2em;
		}
		.woocommerce-product-details__short-description {
			display: none;
		}


		.btn {
			margin-top: auto;
 			display: table;
			background: none;
			text-transform: uppercase;
			color: $brand-primary;
			font-weight: 300;
			font-size: 16px;
			border: none;
			&::after { 
				content: " >";
			}
			&:hover, &:focus {
				text-decoration: underline;
				box-shadow: none;
    			outline: none;
			}

			
		}
	}

}